chromadb
unstructured
langchain
langchain-text-splitters
langchain_core
fastapi 
langchain_community
langchain-core
werkzeug

pdfminer.six
pi_heif
unstructured_inference
pdf2image
unstructured_pytesseract

chromadb
langchain-ollama
langchain-openai
langchain-chroma

transformers
torch
sentencepiece
sacremoses

uvicorn
python-multipart